.box-main {
    /* display: flex; */
   
  }
  

  /* .box-remark{
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  } */
.box-div{
    /* margin-left: 50px; */
}

.serial{
    margin-top: 10px;
   
}

.box-pack {
  display: flex;
  flex-direction: column; /* Ensure rows stack vertically */
  padding: 5px;
    overflow-x: auto;

}

.row-pack {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px; /* Add some space between rows */
}

.box-div {
  min-width: 120px;
  padding: 10px;
}

@media only screen and (max-width: 1100px) {
  .box-div {
    min-width: 250px;
  }

  .box-main{
    display: none;
   }
   .add-field{
    display: none;
   }

}





@media only screen and (min-width:1100px){
  .box-pack{
   display: none;
  }

  .add-fieldr{
    display: none;
   }

}

